
List of available torrents (Last dump date: <%= @last_update %>)

<table>
  <tr>
   <th>Dump date</th>
   <% @collections.sort.each do |c| %>
   <th><%= c %> <a href="<%= c %>.rss"><img width="16px" src="http://istlab.dmst.aueb.gr/~george/img/rss.png"></a></th>
     <% end %>
  </tr>
  <% for @d in @dumps.sort{ |a,b| a.date <=> b.date} %>
  <tr>
    <td><%= @d.date %></td>
    <% for @col in @collections.sort %>
    <% @t = @d.torrents[@col] %>
      <td><% if @t.nil? %>
    	 ---
        <% else %>
    	  <a href="<%= @t.url %>"><%= @t.name %></a> (<%= @t.size%> MB)
        <% end %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>

